$main-font: 'Lato', sans-serif;
$title-font: 'Lora', serif;
$title-color: #10375C;

$sizes: ("xs":360px, "smm": 480px, "sm":576px,  "md":768px,"mdd":1000px, "lg":1024px, "xl":1280px, "xxl": 1440px);